importFrom("stats",lm)
importFrom("stats",glm)
importFrom("nnet",multinom)
importFrom("MASS",lda,polr)
importFrom("utils",packageDescription)
importFrom("graphics",plot)

exportClasses("mids",
              "mira",
              "mipo"
)

export("mice",
       "mice.mids",
       "sampler",
       "padModel",
       "remove.lindep",
       "find.collinear",
       "updateLog",
       "mice.impute.norm",
       "mice.impute.norm.nob",
       "mice.impute.pmm",
       "mice.impute.logreg",
       "mice.impute.polyreg",
       "mice.impute.polr",
       "mice.impute.lda",
       "mice.impute.mean",
       "mice.impute.sample",
       "mice.impute.passive",
       "mice.impute.2l.norm",
       ".norm.draw",
       ".norm.fix",
       ".pmm.match",
       "augment",
       "squeeze",
       "md.pattern",
       "md.pairs",
       "cc",
       "ic",
       "cci",
       "ici",
       "ccn",
       "icn",
       "quickpred",
       "is.mids",
       "is.mira",
       "is.mipo",
       "is.passive",
       "cbind.mids",
       "rbind.mids",
       "ibind",
       "complete",
       "lm.mids",
       "glm.mids",
       "with.mids",
       "pool",
       "pool.scalar",
       "pool.r.squared",
       "pool.compare",
       "version"
       )

exportMethods(print,
              summary,
              plot
              )

S3method(cbind, mids)
S3method(rbind, mids)
S3method(with, mids)
S3method(lm, mids)
S3method(glm, mids)



